################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BuildUtility/obj
/.vs/BuildUtility
/BuildUtility/bin/Debug/net7.0
/.vs/ProjectEvaluation
